[run]
include = bc211/*,
          common/*,
          locations/*,
          main/*,
          organizations/*,
          content_translation_tools/*,
          search/*,
          users/*,
omit = *migrations*, *tests*
plugins =
    django_coverage_plugin
