[run]
include = bc211/*,
          common/*,
          locations/*,
          main/*,
          organizations/*,
          parler_po/*,
          search/*,
          users/*,
omit = *migrations*, *tests*
plugins =
    django_coverage_plugin
