*pyc
*sqlite3
.vscode/
.cache/
.venv*/
.env
.coverage
main/media/
main/static/css/
staticfiles/

# Don't commit data files
*.csv
!city_latlong.csv
services.json
services-with-phonenumbers.json

.DS_STORE
# don't commit generated fixture files
*.ts
run_integration_tests

