# Values used in test
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=test_db

# Values used in production
DATABASE_URL=postgres://user:password@host/dbname
DJANGO_AWS_STORAGE_BUCKET_NAME=peacegeeks-pathways-static
MAILGUN_SENDER_DOMAIN=example.org
DJANGO_MAILGUN_API_KEY=the_key

# Values used in both
DJANGO_SECRET_KEY=the_secret
DJANGO_ALLOWED_HOSTS=127.0.0.1
